python-dotenv
pandas
numpy
pymongo
certifi
pymongo
scikit-learn
pyaml
mlflow
fastapi
uvicorn
scipy
apache-airflow
Jinja2
streamlit
requests 
beautifulsoup4 
python-whois 
apache-airflow-providers-mongo
pymongo
python-multipart
pymongo[srv]==3.6

#-e .